<!-- NAVBAR -->
<nav class="navbar">
  <div class="navbar-user">{{ usuario.apelido }}</div>
  <div class="navbar-links">
    <a routerLink="/cliente">Home</a>
    <a routerLink="/cliente/meus-dados">Meus Dados</a>
    <a routerLink="/cliente/minhas-avaliacoes">Minhas Avaliações</a>
    <a routerLink="/cliente/outras-avaliacoes">Outras Avaliações</a>
    <button (click)="logout()">Sair</button>
  </div>
</nav>

<!-- CONTAINER -->
<div class="filmes-container">
  <div class="card" style="max-width: 600px; margin: 0 auto; padding: 2rem;">
    <!-- ÍCONE CENTRALIZADO -->
    <div style="text-align: center; margin-bottom: 2rem;">
      <img src="/imagens/3135715.png" alt="Usuário" width="100" />
    </div>

    <!-- FORMULÁRIO -->
    <form (ngSubmit)="atualizarDados()">
      <div style="margin-bottom: 1rem;">
        <label>Nome</label>
        <input type="text" [(ngModel)]="usuario.nome" name="nome" required class="form-control" />
      </div>

      <div style="margin-bottom: 1rem;">
        <label>Apelido</label>
        <input type="text" [(ngModel)]="usuario.apelido" name="apelido" required class="form-control" />
      </div>

      <div style="margin-bottom: 1rem;">
        <label>Email</label>
        <input type="email" [(ngModel)]="usuario.email" name="email" required class="form-control" />
      </div>

      <div style="margin-bottom: 1rem;">
        <label>Senha</label>
        <input type="password" [(ngModel)]="usuario.senha" name="senha" class="form-control"
          placeholder="Nova senha (opcional)" />
      </div>

      <input type="text" [(ngModel)]="usuario.data_nascimento" name="data_nascimento" required class="form-control"
        placeholder="dd/mm/aaaa" mask="00/00/0000" [dropSpecialCharacters]="false"/>

      <div class="modal-buttons" style="justify-content: center;">
        <button type="submit">Atualizar</button>
      </div>
    </form>
  </div>
</div>

<!-- MODAL DE SUCESSO -->
<div class="modal-feedback-overlay" *ngIf="modalSucessoAberto">
  <div class="modal-feedback-box">
    <p>Dados atualizados com sucesso!</p>
    <button (click)="fecharModalSucesso()">Fechar</button>
  </div>
</div>

<!-- MODAL DE ERRO -->
<div class="modal-feedback-overlay" *ngIf="modalErroAberto">
  <div class="modal-feedback-box">
    <p>{{ feedbackMensagem }}</p>
    <button (click)="fecharModalErro()">Fechar</button>
  </div>
</div>